.main-other-proyects {
  margin: 2rem 0;
  text-align: center;
}

.grid-other-proyects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 30px;
  column-gap: 30px;
  margin: 2rem;
}
