.main-proyect-card {
  color: #ffffff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
  grid-template-rows: repeat(1);
}

.grid-item-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.grid-item-info h2 {
  font-size: 1rem;
  font-weight: 300;
}

.grid-item-info h1 {
  font-size: 3rem;
  font-weight: 500;
}

.btn-proyectlink {
  color: #ffffff;
  border-radius: 99px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: max-content;
  margin-top: 2rem;
}

.btn-proyectlink:hover {
  color: #ffffff;
  opacity: 0.9;
}

@media (max-width: 767px) {
  .grid-item-info {
    grid-row-start: 2;
  }
}
