.main-proyect-card {
  color: #ffffff;
}

.proyect-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 6rem;
}

.proyect-card-info h2 {
  font-size: 1rem;
  font-weight: 300;
}

.proyect-card-info h1 {
  font-size: 3rem;
  font-weight: 500;
}

.btn-proyectlink {
  color: #ffffff;
  border-radius: 99px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: max-content;
  margin-top: 2rem;
}

.btn-proyectlink:hover {
  color: #ffffff;
  opacity: 0.9;
}
