.main-other-card a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 4.5rem 0;
  box-shadow: 0 0 8px #333333;
}

.other-proyect-img {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s ease;
}

.main-other-card h1 {
  opacity: 0;
  position: relative;
  font-weight: bolder;
  font-size: 1.5rem;
  transition: all 0.5s ease;
  border-bottom: 2px solid #000;
}

.main-other-card hr {
  width: 50%;
}

.other-proyect-link:hover h1 {
  opacity: 1;
}

.other-proyect-link:hover .other-proyect-img {
  opacity: 0.5;
}
