.link-unstyled {
  text-decoration: none;
  color: inherit;
}

.link-unstyled:hover {
  text-decoration: none;
  color: inherit;
}

.link-black {
  color: inherit;
}

.link-black:hover {
  color: inherit;
}
